<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Systech_Abandoned>
		  <version>1.1.1</version>
		</Systech_Abandoned>
	</modules>

	<global>
		
		<helpers>
			<systech_abandoned>
				<class>Systech_Abandoned_Helper</class>
			</systech_abandoned>
		</helpers>	
		
		<models>
			<systech_abandoned>
				<class>Systech_Abandoned_Model</class>
			</systech_abandoned>
		</models>

		<events>
			<checkout_cart_save_before>
				<observers>
					<systech_abandoned>
						<type>model</type>
						<class>Systech_Abandoned_Model_Observer</class>
						<method>addAbandonedLogBefore</method>
					</systech_abandoned>
				</observers>
			</checkout_cart_save_before>

			<checkout_cart_save_after>
				<observers>
					<systech_abandoned>
						<type>model</type>
						<class>Systech_Abandoned_Model_Observer</class>
						<method>addAbandonedLogAfter</method>
					</systech_abandoned>
				</observers>
			</checkout_cart_save_after>

			<sales_order_place_before>
				<observers>
					<systech_abandoned>
						<type>model</type>
						<class>Systech_Abandoned_Model_Observer</class>
						<method>addAbandonedLogCheckout</method>
					</systech_abandoned>
				</observers>
			</sales_order_place_before>

			<sales_order_place_after>
				<observers>
					<systech_abandoned>
						<type>model</type>
						<class>Systech_Abandoned_Model_Observer</class>
						<method>addAbandonedLogOrderNow</method>
					</systech_abandoned>
				</observers>
			</sales_order_place_after>

		</events> 

	</global>
	<crontab>
		<jobs>
			<abandoned_write_log>
				<schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>systech_abandoned/observer::setStatus</model>
                </run>
			</abandoned_write_log>
		</jobs>
	</crontab>
</config>