<?xml version="1.0" encoding="utf-8"?>
<config>
  
	<modules>
		<Systech_GlsCountry>
		  <version>1.1.1</version>
		</Systech_GlsCountry>
	</modules>
	
	<global>
		<helpers>
			<systech_glscountry>
				<class>Systech_GlsCountry_Helper</class>
			</systech_glscountry>
		</helpers>	
		
		<models>

			<systech_glscountry>
				<class>Systech_GlsCountry_Model</class>
				<resourceModel>systech_glscountry_resource</resourceModel>
			</systech_glscountry>

			<systech_glscountry_resource>
                <class>Systech_GlsCountry_Model_Resource</class>
                    <entities>
                        <country>
                            <table>systech_glscountry</table>
                        </country>
                    </entities>
            </systech_glscountry_resource>
            
		</models>  

		<resources>
			<systech_glscountry_setup>
				<setup>
					<module>Systech_GlsCountry</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</systech_glscountry_setup>

			<systech_glscountry_write>
				<connection>
					<use>core_write</use>
				</connection>
			</systech_glscountry_write>

			<systech_glscountry_read>
				<connection>
					<use>core_read</use>
				</connection>
			</systech_glscountry_read>
		</resources>	
		
	</global>
</config>